.card {
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 5px;
  box-shadow: 0px -1px 5px 1px #ffffff99;
  min-height: min-content;
  width: 100%;
  min-width: min-content;
  margin: 1rem 0 2rem;
}
