.home_container {
  width: 30%;
}

.title {
  text-align: center;
}

@media screen and (min-width: 582px) and (max-width: 970px) {
  .home_container {
    width: 50%;
  }
}

@media screen and (max-width: 680px) {
  .home_container {
    width: 90%;
  }
}
