.todo__list {
  list-style: none;
}

.todo__listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 0.7rem;
  border: 0;
  border-radius: 5px;
  margin: 0.7rem;
  opacity: 0.7;
}

.todo__listItem:hover {
  cursor: pointer;
  opacity: 1;
}

.todo__listItem__completed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #35d40d;
  color: #000;
  padding: 0.7rem;
  border: 0;
  border-radius: 5px;
  margin: 0.7rem;
  opacity: 0.3;
}

.todo__listItem__completed:hover {
  cursor: pointer;
  opacity: 1;
}

.todo__listItem__completed > span {
  text-decoration: line-through;
}


.deleteBtn {
  background-color: rgb(196, 34, 34);
  color: #fff;
  padding: 0.5rem 0.4rem;
  border: 0;
  border-radius: 3.5px;
  font-weight: 800;
  outline: none;
  cursor: pointer;
}

.deleteBtn:hover {
  cursor: pointer;
  background-color: rgb(212, 21, 21);
}
