.todo_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo_input {
  width: 70%;
  padding: 0.5rem 0.4rem;
  outline: none;
  border-radius: 3.5px;
  border: 0;
}
.addBtn {
  background-color: rgb(75, 48, 230);
  color: #fff;
  padding: 0.5rem 0.4rem;
  border: 0;
  border-radius: 3.5px;
  font-weight: 800;
  outline: none;
  cursor: pointer;
}

.addBtn:hover {
  background-color: rgb(60, 31, 228);
}
